
// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
	--bs-font-sans-serif:'Montserrat', sans-serif;
    --font-family-sans-serif: 'Montserrat', sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
 }


// Roboto
$font: 'Montserrat', sans-serif;


// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !default;
$font-family-serif: Georgia,"Times New Roman",Times,serif !default;
$font-family-monospace: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$font-family-base: $font-family-sans-serif;

