    
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Main brand color
/// @type Color
:root {
    --bs-purple: #65125E;
    --bs-orange: #F55D4E;
    --bs-yellow: #FBB03B;
    --bs-light-orange: #F5E9E2;
    --bs-gray: #808080;
    --bs-gray-dark: #333333;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-light: #FAF7FC;
    --bs-dark: #330A33;
    --bs-purple-dark:#330A33
}

// black
$color-negro-100: #000000;
$color-negro-90: lighten( $color-negro-100, 10% );
$color-negro-80: lighten( $color-negro-100, 20% );
$color-negro-70: lighten( $color-negro-100, 30% );
$color-negro-60: lighten( $color-negro-100, 40% );
$color-negro-50: lighten( $color-negro-100, 50% );
$color-negro-40: lighten( $color-negro-100, 60% );
$color-negro-30: lighten( $color-negro-100, 70% );
$color-negro-20: lighten( $color-negro-100, 80% );
$color-negro-10: lighten( $color-negro-100, 90% );
$color-negro-5: lighten( $color-negro-100, 95% );
$color-negro-3: lighten( $color-negro-100, 97% );
$color-negro-0:  lighten( $color-negro-100, 100% );


/// @type Color
$text-color: var(--bs-gray);


// size
$size-8: 0.5rem;
$size-9: 0.5625rem;
$size-10: 0.625rem;
$size-11: 0.6875rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem !default;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-26: 1.625rem;
$size-28: 1.75rem;
$size-30: 1.875rem;
$size-32: 2rem;
$size-34: 2.125rem;
$size-36: 2.25rem;
$size-38: 2.375rem;
$size-40: 2.5rem;
$size-50: 3.125rem;
$size-60: 3.9375rem;
$size-65: 4.0625rem;
$size-70: 4.375rem;


/// @type Size
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$font-size-h1: $size-40;
$font-size-h2: $size-32;
$font-size-h3: $size-28;
$font-size-h4: $size-24;
$font-size-h5: $size-20;
$font-size-h6: $size-16;


/// Container's maximum width
/// @type Length
$max-width: 1240px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Container's maximum width

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);
