//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../pug/page-templates/tpl_page.pug

block title
	title Maga Granados - Poder Natural
block contenido
	.main.bg-white.asscroll-container
		.entry-content.d-hidden.bg-gradient-orange
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1.pb-3.text-center Equilibra tu vida y conecta con tu esencia
						.ratio.ratio-16x9
							picture
								img(src="https://via.placeholder.com/900x450" class="img-fluid" loading="lazy")
						p.lead <b>Maga -  Poder Natural</b> es un espacio de amor y de luz que te ofrece talleres y terapias alternativas, en conjunto con joyas de cuarzos y aceites esenciales para que conectes con tu esencia y puedas Ser tu mejor versión en coherencia entre mente - corazón y acción.

						blockquote Con las terapias alternativas y/o complementarias puedes sanar y equilibrar tu cuerpo físico, emocional, mental y espiritual; ya que abarcan diferentes técnicas que promueven la salud aumentando tu energía vital y también previenen la enfermedad con tratamientos que mejoran tu estado general; además aporto valor en tu proceso con herramientas que te permitan ser consciente de tus resultados para que puedas generar los cambios necesarios que transformen tu vida de manera integral.




			include  ../pug/template-parts/block-form.pug
			.container
				.row.justify-content-center
					.col-md-10.col-xl-8.border-bottom.pb-5
						.row.justify-content-between
							.col-6.col-md-3.position-relative
							.col-6.col-md-3.text-end.position-relative
								a(href="/pages/servicios/terapia-reiki.html" class="nav-next stretched-link")
									|siguiente
									i(class="d-md-inline ms-1" data-feather="arrow-right")
								h3 Terapia Reiki

			include  ../pug/template-parts/block-productos.pug


		



















	

















			






















	

			



	

			

	