//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
	title Maga Granados - Talleres Reiki Universal

block contenido
	.main.bg-white
		.entry-content.d-hidden.bgtop-gradient-purple
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1.pb-3 Talleres Reiki Universal
					.col-md-10.col-xl-8
						h3 Acerca de la historia Reiki Universal
						p.mb-5 El <b>REIKI</b> tradicional comienza a mediados del siglo XIX con el doctor Mikao Usui quien hizo una prueba durante 21 días con ayuno y oración en el Monte Koriyama; la madrugada final de su prueba, en la hora más oscura, antes del amanecer, Usui vio una especie de proyectil luminoso que se diría hacia él y su primera reacción fue la huida, pero luego lo pensó mejor y decidió aceptar las cosas tal como vinieran, como una respuesta a su meditación, aunque le fuese en ello la vida. El rayo lo tocó en el entrecejo (tercer ojo), perdiendo el conocimiento por unos instantes; luego vio millones y millones de burbujas con los colores del arco iris y finalmente los símbolos de <b>REIKI</b>, como si los hubiesen proyectado en una pantalla.  A medida que iba visualizando cada uno de los símbolos recibió la información sobre cómo se utilizaba cada uno de ellos para activar la energía de sanación. A esta energía milagrosa, el Dr. Usui la llama REIKI, que significa “<i>energía eterna y universal</i>”.

						<p>Mikao Usui emprendió una existencia de peregrino; recorrió el Japón a pie, portando una antorcha y enseñando.  De esta manera conoció a Chujiro Hayashi, oficial retirado de la armada en situación de reserva.  En 1925, a la edad de 47 años, Hayashi recibió de Usui la <b>formación REIKI</b> en grado de maestro y se convirtió en el sucesor de Mikao Usui, quien falleció en 1930.</p>
						<p>En 1935 la señora Takata quedó interna en la clínica del señor Hayashi y en un plazo de cuatro meses, sano completamente: cuerpo, mente y espíritu. El 22 de febrero de 1938 recibió el grado de maestra/enseñante y Hayashi la designó públicamente sucesora suya trayendo la enseñanza de Reiki a EEUU ya que ella estaba radicada en Hawai.</p>
						<p>En 1997 Patricia Zorrilla, motivada por las positivas verificaciones de sanación que había vivenciado durante siete años de práctica Reiki, creó el movimiento Reiki Universal en Colombia, con el deseo profundo de compartir sus conocimientos con todas las personas que desearan aprender esta técnica de sanación; decidió enseñar este conocimiento inspirada en <b>diferentes movimientos, como Reiki Esencial y Reiki Tradicional</b>.</p>
						<p><b>Yo en el año 2012 luego de haber recibido diferentes terapias para mi proceso de sanación entre ellas Reiki </b>y habiendo verificado que las terapias alternativas funcionaban empecé a buscar donde formarme como terapeuta y es así como en ese momento mi coach me sugiere a la maestra Patricia Zorrilla para formarme como reikista y en noviembre del mismo año realizo los tres primeros niveles y empiezo mi servicio haciendo terapias reiki a quien lo solicitará y luego de varios años de práctica en el año 2017 realizo la maestría Reiki con la misma maestra Patricia Zorrilla y en el 2018 empiezo a enseñar esta maravillosa técnica de sanación.</p>
						.ratio.ratio-16x9
							picture
								img(src="/assets/images/talleres/hero-taller-reiki.jpg" class="img-fluid rounded" loading="lazy")

						h2 
							sup.text-orange 1.
							|¿Qué personas pueden ser iniciadas en Reiki?
						ul
							li Todos las personas pueden aprender y practicar REIKI. Cualquier persona con la intención de mejorar y apoyar a otros, sin importar la edad, sexo, raza, condición socio económico, religiosa o cultural puede ser iniciada en Reiki. 

							li No es necesaria ninguna preparación previa, tampoco tiene algún requerimiento específico, salvo el deseo de servir, de sanarse a sí mismo y expresar amor desde su corazón.

						h2 
							sup.text-orange 2.
							|¿Para qué formarse como Reikista?
						p Cada persona puede tener un propósito o intención diferente al tomar Reiki; habrá quienes buscan aprender REIKI para sanar algún dolor físico, sanar sus emociones y/o equilibrar su mente; se harán REIKI a sí mismos y probablemente a sus familiares y/o amigos.
						p Otros lo tomaran como una función a través de la cual, no solo apoyan a otras personas, sino que también podrán tener unos recursos extras y para otros se convierte en un trabajo permanente, brindando terapia REIKI a quienes lo soliciten y recibiendo una compensación por ello.
						p Esto mismo ocurre para quienes llegan a la Maestría. Unas personas tomaran este nivel y nunca enseñaran y otras lo convertirán en una forma de vida; se ocuparán de transmitir de manera clara y precisa las enseñanzas dejadas por el maestro Mikao Usui honrando así su memoria y no solo se dedicará a transmitir la energía, sino que vivirán acorde con la verdadera esencia REIKI.

						h2 
							sup.text-orange 3.
							|Contenido

						#accordionFlushExample.accordion.open.accordion-flush.pb-1
							.accordion-item
								h2#flush-headingOne.accordion-header
									button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='     flush-collapseOne')
										| Reiki I Nivel

								#flush-collapseOne.accordion-collapse.collapse.show(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
									.accordion-body.mb-4
										p.fs-6.fw-bold.text-orange PROPÓSITO
										p Entregar las herramientas necesarias para que cada estudiante conozca y aprenda sobre el campo de energía humano y pueda autosanarse y servir de canal para la sanación de otras personas, plantas y animales según corresponda.  
										p.fs-6.fw-bold.text-purple.border-top.mt-3.pt-3 TEMARIO
										ol.temas
											li Ceremonia sagrada de iniciación del I nivel
											li Historia y origen de Reiki
											li Los principios de vida Reiki
											li Que es el Reiki 
											li Alineamientos – iniciación
											li Campo energético.  Los cuerpos sutiles.  
											li Los chakras o centros de energía
											li Que hace Reiki
											li Instrucciones para los terapeutas
											li Precauciones
											li Ética Reiki
											li Instrucciones para el tratamiento Reiki
											li Auto terapia
											li Terapia individual completa, corta y de grupo.
											li Tratamiento para plantas y animales



							





			include  ../template-parts/block-form.pug
			.container
				.row.justify-content-center
					.col-md-10.col-xl-8.border-bottom.pb-5
						.row.justify-content-between
							.col-6.col-md-3.position-relative
							.col-6.col-md-6.text-end.position-relative
								a(href="/pages/talleres/taller-cristales-para-sanar.html" class="nav-next stretched-link")
									|siguiente
									i(class="d-md-inline ms-1" data-feather="arrow-right")
								h3 Taller Cristales para Sanar

			include  ../template-parts/block-productos.pug
			include  ../template-parts/block-whatsapp.pug

