.trwpwhatsappall
  .trwpwhatsappballon.border.pb-2.bg-white
    span#kapatac.kapat X
    .trwpwhatsapptitle.pe-5
      | ¿Estás interesado en una terapia o taller? 
    .trwpwhatsappmessage.fw-normal
      |Cuéntame que inquietud tienes
    .trwpwhatsappinput
      form(action='https://web.whatsapp.com/send?' method='get' target='_blank')
        input(type='text' name='phone' value='573106565656' hidden='')
        input(type='text' name='text' placeholder='Inicia una conversación' autocomplete='off')
        button.trwpwhatsappsendbutton(type='submit')
          //i(class="d-md-inline me-2" data-feather="send")

  #ackapa.trwpwhatsappbutton
    span ¿Tienes dudas?
    i(class="d-md-inline ms-2 float-end" data-feather="message-circle")