#hero.jarallax(data-jarallax='' data-speed='.8' style='background-image: url(/assets/images/bg-jarallax.png);')
		.container.position-relative
			.row.align-items-center.vh-60.hero--body.position-relative
				.col-12.col-md-2.order-md-2(data-aos="fade")
					// Button
					a.btn.btn-play.shadow.lift.position-relative(href='https://www.youtube.com/watch?v=9I-Y6VQ6tyI' data-fancybox)
						i(class=" position-absolute top-50 start-50 translate-middle text-white" data-feather="play")
				.col-12.offset-md-1.col-md-4.order-md-1.align-self-center
					h6(data-aos="fade-right") Sana desde el
					h1(data-aos="fade-right" data-aos-delay="150")  amor
					p(data-aos="fade-right" data-aos-delay="300") 
						|Despierta la magia que hay en ti
			.row.position-absolute.top-50.start-50.translate-middle
				img(src="/assets/images/NicePng_woman-back-png_3203867.png" class="")
		.position-absolute.w-100.shape--jarallax.d-none.d-sm-block
			.shape.shape-bottom.w-100
				img(src="/assets/images/bottom-jarallax.svg" class="img-fluid")