section#agenda
	.container.pt-5.pb-2
		.row.justify-content-center
			.col-md-10.col-xl-8
				// Card
				.card.border-0.shadow-light-lg.mt-0(style="border-top:3px solid var(--bs-purple)!important;")
					.card-body
						.row.justify-content-center
							.col-12.col-xl-11.text-center.pt-2
								h1.text-purple.fs-4 Conoce 
									span.fw-bold más de nuestros servicios y productos
								// Text
								p.text-muted
									|Agenda una cita para atender a tus inquietudes
						.row.justify-content-center
							.col-12.col-xl-11.text-center.pb-5

								a(href="" class="btn btn-primary bt-orange")
									i(class="d-md-inline me-2" data-feather="phone-call") 
									|Agendar con un experto