section#productos.bg-gradient-purple
	.container
		.row.text-center.d-flex.justify-content-center.mb-5
			h6.text-uppercase.mb-3.fw-normal.text-orange.pt-5 Productos
			h1.text-purple Productos 
				span.fw-bold Complementarios
			.col-12.col-md-7
				p.text-muted
					|Conecta con la energía de los cristales y las plantas medicinales para apoyar tu proceso de sanación y transformación para convertir tu vida en una obra maestra. 
		.row.row-cols-2.g-5.justify-content-center
			.col-12.col-md-4(data-aos="fade-up")
				.card.text-center.shadow-light-lg.lift.lift-lg.border-0
					img(src="/assets/images/joyas.png")
					.card-body
						h4.card-title.text-purple.fw-bold
							|Joyas con Cristales
						p.text-muted
							|Cada cristal tiene propiedades especificas para equilibrar tu Ser
						a(href="" class="stretched-link" )
							|Consultar


			.col-12.col-md-4(data-aos="fade-up" data-aos-delay="250")
				.card.text-center.shadow-light-lg.lift.lift-lg.border-0
					img(src="/assets/images/aceites.png")
					.card-body
						h4.card-title.text-purple.fw-bold
							|Aceites Esenciales Just
						p.text-muted
							|Los productos Just se basan en recetas que utilizan hierbas medicinales para brindar bienestar
						a(href="" class="stretched-link" )
							|Consultar
#productosend
// /#productos