footer#contacto
    .container
        .row
            .col-md-3
                img(src="/assets/images/logo-footer.png")
            .col-md-4
                h6.text-purple.fw-regular
                    |Donde Estoy?
                p.text-muted
                    |21 Valentin Rapids Apt. 335<br>Bogotá D.C<br>Colombia
                h6.text-purple.fw-regular
                    |Hablemos
                p
                    a(href="magagranados@magagranados.com" class="link-email") magagranados@magagranados.com
                p 
                    a(class="phone d-inline" href="https://wa.me/573102062328" target="_blank") 
                        i(class="d-md-inline ms-1" data-feather="phone-call")
                        |(57)3102062328
            .col-md-5
                h2.text-purple.fw-bold Hola.
                h4.text-purple Soy Aida Milena Granados
                p.text-muted
                    |An entrepreneur, writer, philanthropist & unshakable optimist dedicated to helping you become the person you most want to be.
                a(href="" class=" link-about-me" )
                        |Concer más de mi
                        i(class="d-md-inline" data-feather="arrow-right")
                .row.row-cols-2
                    .social.d-flex.align-items-end.pb-5
                        small.text-muted
                            |sigueme en:
                        a(href="" class=" link-about-me" )
                            i(class="d-md-inline" data-feather="facebook")
                        a(href="" class=" link-about-me" )
                            i(class="d-md-inline" data-feather="youtube")
                        a(href="" class=" link-about-me" )
                            i(class="d-md-inline" data-feather="instagram")
                    .about-me
                        img(src="/assets/images/maga-granados.png" class="float-end")




