header(id="header" class="header header--fixed hide-from-print")
    .navbar.navbar-expand-lg.navbar-light.bg-white
        .container
            a(class="navbar-brand" href="/") 
                img(src="/assets/images/logo-podernatural.png" class="d-sm-none d-lg-block d-none")
                img(src="/assets/images/logo-podernatural-responsive.svg" class="d-xs-block d-sm-none")
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div(class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent")
                ul.navbar-nav
                    li.nav.item 
                        a.nav-link(href="/") Inicio
                    li.nav-item.dropdown.dropdown-animate.px-2
                        a#navbarDropdown.nav-link-dropdown.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' data-hover="dropdown" aria-expanded='false')
                          | Terapias
                        ul.dropdown-menu
                            li
                              a.dropdown-item(href='#') Reiki
                            li
                              a.dropdown-item(href='#') Auriculoterapia
                            li
                              a.dropdown-item(href='#') Tuna y Maxibustion
                            li
                              a.dropdown-item(href='#') Terapia con filtros
                    li.nav-item.dropdown.dropdown-animate.px-2
                        a#navbarDropdown.nav-link-dropdown.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' data-hover="dropdown" aria-expanded='false')
                          | Talleres
                        ul.dropdown-menu
                            li
                              a.dropdown-item(href='#') Reiki Universal
                            li
                              a.dropdown-item(href='#') Cristales para sanar
                            li
                              a.dropdown-item(href='#') Arcángeles y Cristales 
                            li
                              a.dropdown-item(href='#') Arcángeles y Cristales 
                    li.nav.item
                        a.nav-link(href="") Productos
                    li.nav.item 
                        a.nav-link Contacto
                a(class="phone d-inline ms-4" href="https://wa.me/3106565656" target="_blank") 
                            i(class="d-md-inline ms-1" data-feather="phone-call")
                            |(57)3106565656
    .shape--jarallax.w-100.d-none.d-sm-block
        .shape-nav.d-none.d-sm-block
            img(src="/assets/images/top-jarallax.svg" class="img-fluid")



