header(id="header" class="header header--fixed hide-from-print")
    .navbar.navbar-expand-lg.navbar-light.bg-white
        .container
            a(class="navbar-brand" href="/") 
                img(src="/assets/images/logo-podernatural.png" class="d-sm-none d-lg-block d-none")
                img(src="/assets/images/logo-podernatural-responsive.svg" class="d-xs-block d-sm-none")
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div(class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent")
                ul.navbar-nav
                    li.nav.item 
                        a.nav-link(href="/") Inicio
                    li.nav.item 
                        a.nav-link(href="/pages/poder-natural.html") Poder Natural
                    li.nav-item.dropdown.dropdown-animate.px-2
                        a#navbarDropdown.nav-link-dropdown.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' data-hover="dropdown" aria-expanded='false')
                          | Terapias
                        ul.dropdown-menu
                            li
                              a.dropdown-item(href='/pages/servicios/terapia-reiki.html') Terapia Reiki
                            li
                              a.dropdown-item(href='/pages/servicios/aromaterapia.html') Aromaterapia
                            li
                              a.dropdown-item(href='/pages/servicios/auriculoterapia.html') Auriculoterapia
                            li
                              a.dropdown-item(href='/pages/servicios/masaje-tuina-Moxibustion.html') Masaje Tuina y Moxibustión
                            li
                              a.dropdown-item(href='/pages/servicios/terapia-con-filtros.html') Terapia con Filtros
                            li
                              a.dropdown-item(href='/pages/servicios/terapia-con-cristales.html') Terapia con Cristales
                            li
                              a.dropdown-item(href='/pages/servicios/esencias-florales.html') Esencias florales y minerales
                            li
                              a.dropdown-item(href='/pages/servicios/oraculo-angelical.html') Oráculo Angelical


                    li.nav-item.dropdown.dropdown-animate.px-2
                        a#navbarDropdown.nav-link-dropdown.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' data-hover="dropdown" aria-expanded='false')
                          | Talleres
                        ul.dropdown-menu
                            li
                              a.dropdown-item(href='/pages/talleres/taller-reiki-universal.html') Reiki Universal
                            li
                              a.dropdown-item(href='/pages/talleres/taller-cristales-para-sanar.html') Cristales para sanar
                            li
                              a.dropdown-item(href='/pages/talleres/taller-arcangeles-y-cristales.html') Arcángeles y Cristales 
                            li
                              a.dropdown-item(href='/pages/talleres/taller-siete-luces.html') Siete luces para vivir feliz
                    li.nav-item.dropdown.dropdown-animate.px-2
                        a#navbarDropdown.nav-link-dropdown.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' data-hover="dropdown" aria-expanded='false')
                          | Productos
                        ul.dropdown-menu
                            li
                              a.dropdown-item(href='#') Joyas con Cristales
                            li
                              a.dropdown-item(href='#') Aceites Esenciales Just
                    li.nav-item 
                        a.nav-link( data-scroll href="#productosend") Contacto
                a(class="phone d-inline ms-4" href="https://wa.me/3106565656" target="_blank") 
                            i(class="d-md-inline ms-1" data-feather="phone-call")
                            |(57)3106565656
    .shape--jarallax.w-100.d-none.d-sm-block
        .shape-nav.d-none.d-sm-block
            img(src="/assets/images/top-jarallax.svg" class="img-fluid")



