//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
	title Maga Granados - Aromaterapia
block contenido
	.main.bg-white
		.entry-content.d-hidden.bg-gradient-orange
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1.pb-3 Aromaterapia
						.ratio.ratio-16x9
							picture
								img(src="https://via.placeholder.com/800x450" class="img-fluid" loading="lazy")
						h2 
							sup.text-orange 1.
							|¿Cómo funciona?
						p Es una terapia basada en el uso de aceites esenciales que promueven la salud y el bienestar físico, emocional y mental restituyendo el equilibrio y fortaleciendo el cuerpo para prevenir enfermedades o mejorar los síntomas evitando de esta manera complicaciones.  
						h2 
							sup.text-orange 2.
							|¿Cuando se usa?
						p Se utiliza como apoyo de las demás terapias alternativas para brindarle al paciente un estado de bienestar general con mayor efectividad.  Los aceites esenciales utilizados son: manzanilla, palmarosa, lavanda, limón, menta, naranja, eucalipto, neroli, romero, jazmín, manzanilla, geranio y bergamota.  De acuerdo a la situación del paciente se determinará que necesita para apoyar su proceso de sanación.



			include  ../template-parts/block-form.pug
			.container
				.row.justify-content-center
					.col-md-10.col-xl-8.border-bottom.pb-5
						.row.justify-content-between
							.col-6.col-md-3.position-relative
								a(href="/pages/servicios/terapia-reiki.html" class="nav-next stretched-link")
									i(class="d-md-inline" data-feather="arrow-left")
									|anterior
								h3 Terapia Reiki
							.col-6.col-md-3.text-end.position-relative
								a(href="/pages/servicios/auriculoterapia.html" class="nav-next stretched-link")
									|siguiente
									i(class="d-md-inline ms-1" data-feather="arrow-right")
								h3 Auriculoterapia

			include  ../template-parts/block-productos.pug


		



















	

















			






















	

			



	

			

	