//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
	title Maga Granados - Auriculoterapia
block contenido
	.main.bg-white
		.entry-content.d-hidden.bg-gradient-orange
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1.pb-3 Auriculoterapia
						.ratio.ratio-16x9
							picture
								img(src="/assets/images/terapias/hero-auriculoterapia.jpg" class="img-fluid rounded" loading="lazy")
						h2 
							sup.text-orange 1.
							|¿Cómo funciona?
						p Es una técnica que estimula ciertos puntos en la oreja para mejorar la salud.  La oreja es un microsistema que refleja la energía del cuerpo; el Dr. Paul Nogier en 1956 desarrollo el microsistema auricular y ya es una terapia avalada por la OMS.

						h2 
							sup.text-orange 2.
							|¿Qué pasa durante la terapia?
						p Durante la terapia se estimulan los “puntos reflejos” que necesita el paciente según su condición de salud; esto va a generar una acción directa sobre la parte del organismo  estimulada promoviendo el alivio de síntomas y el restablecimiento de la salud.


			include  ../template-parts/block-form.pug
			.container
				.row.justify-content-center
					.col-md-10.col-xl-8.border-bottom.pb-5
						.row.justify-content-between
							.col-6.col-md-3.position-relative
								a(href="/pages/servicios/aromaterapia.html" class="nav-next stretched-link")
									i(class="d-md-inline" data-feather="arrow-left")
									|anterior
								h3 Aromaterapia
							.col-6.col-md-6.text-end.position-relative
								a(href="/pages/servicios/masaje-tuina-Moxibustion.html" class="nav-next stretched-link")
									|siguiente
									i(class="d-md-inline ms-1" data-feather="arrow-right")
								h3 Masaje Tuina y Maxibustión
			include  ../template-parts/block-productos.pug
			include  ../template-parts/block-whatsapp.pug


		



















	

















			






















	

			



	

			

	