//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
	title Maga Granados - Auriculoterapia
block contenido
	.main.bg-white
		.entry-content.d-hidden.bg-gradient-orange
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1.pb-3 Auriculoterapia
						.ratio.ratio-16x9
							picture
								img(src="https://via.placeholder.com/800x450" class="img-fluid" loading="lazy")
						h2 
							sup.text-orange 1.
							|¿Cómo funciona?
						p Es una técnica que estimula ciertos puntos en la oreja para mejorar la salud.  La oreja es un microsistema que refleja la energía del cuerpo; el Dr. Paul Nogier en 1956 desarrollo el microsistema auricular y ya es una terapia avalada por la OMS.

						h2 
							sup.text-orange 2.
							|¿Qué pasa durante la terapia?
						p Durante la terapia se estimulan los “puntos reflejos” que necesita el paciente según su condición de salud; esto va a generar una acción directa sobre la parte del organismo  estimulada promoviendo el alivio de síntomas y el restablecimiento de la salud.


			include  ../template-parts/block-form.pug
			include  ../template-parts/block-productos.pug


		



















	

















			






















	

			



	

			

	