//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
	title Maga Granados - Masaje Tuina y Moxibustión
block contenido
	.main.bg-white
		.entry-content.d-hidden.bg-gradient-orange
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1.pb-3 Masaje Tuina y Moxibustión
						.ratio.ratio-16x9
							picture
								img(src="https://via.placeholder.com/800x450" class="img-fluid" loading="lazy")
						h2 
							sup.text-orange 1.
							|¿Cómo funciona?
						p Es un masaje terapéutico utilizado como medio curativo y rehabilitador por parte de la Medicina Tradicional China. Tiene como objetivo restablecer la armonía y el <i>flujo de la energía (Qi)</i> y <i>de la Sangre (Xue)</i> en la red de canales energéticos, por medio de un conjunto de técnicas manuales que logran reajustar el equilibrio entre el Yin y el Yang. 

						p La <b>moxibustión</b> por su parte es la aplicación de calor directo e indirecto en los resonadores (<i>puntos de energía</i>) que permiten lograr equilibrar al paciente.


			include  ../template-parts/block-form.pug
			include  ../template-parts/block-productos.pug


		



















	

















			






















	

			



	

			

	