//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
	title Maga Granados - Oráculo Angelical
block contenido
	.main.bg-white
		.entry-content.d-hidden.bg-gradient-orange
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1.pb-3 Oráculo Angelical
						.ratio.ratio-16x9
							picture
								img(src="https://via.placeholder.com/800x450" class="img-fluid" loading="lazy")
						h2 
							sup.text-orange 1.
							|¿Qué es?
						p Esta es una herramienta utilizada hace miles de años para guiar de manera clara y segura a la humanidad por medio de la lectura de cartas angelicales.

						h2 
							sup.text-orange 2.
							|¿Cómo funciona?
						p En esta sesión cada carta de los ángeles va dando respuesta a la pregunta que hace la persona; recibiendo mensajes claros  que le permitirán darse cuenta para que ha vivido  diferentes situaciones de aprendizaje y como a partir de esto puede empezar a tomar decisiones que le den bienestar, sanando y fortaleciendo su ser al mismo tiempo.


			include  ../template-parts/block-form.pug
			.container
				.row.justify-content-center
					.col-md-10.col-xl-8.border-bottom.pb-5
						.row.justify-content-between
							.col-6.col-md-6.position-relative
								a(href="/pages/servicios/esencias-florales.html" class="nav-next stretched-link")
									i(class="d-md-inline" data-feather="arrow-left")
									|anterior
								h3  Esencias florales y minerales
							.col-6.col-md-3.text-end.position-relative
			include  ../template-parts/block-productos.pug


		



















	

















			






















	

			



	

			

	