//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
	title Maga Granados - Terapia con filtros
block contenido
	.main.bg-white
		.entry-content.d-hidden.bg-gradient-orange
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1.pb-3 Terapia con filtros
						.ratio.ratio-16x9
							picture
								img(src="https://via.placeholder.com/800x450" class="img-fluid" loading="lazy")
						h2 
							sup.text-orange 1.
							|¿Cómo funciona?
						p Es una terapéutica basada en el manejo de la información electromagnética contenida en el campo energético que rodea al ser humano.  Al incidir sobre ese campo electromagnético, por el fenómeno fotoeléctrico de los filtros se puede reorganizar los procesos físicos, emocionales y mentales del individuo hacia la salud.


			include  ../template-parts/block-form.pug
			include  ../template-parts/block-productos.pug


		



















	

















			






















	

			



	

			

	