//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
	title Maga Granados - Terapia Reiki
block contenido
	.main.bg-white
		.entry-content.d-hidden.bg-gradient-orange
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1 Terapia Reiki
						p.lead
							|Es un sistema de sanación natural que se logra al canalizar la energía universal por medio del terapeuta para que el paciente reciba lo correspondiente según sea necesario para su proceso de sanación físico, emocional, mental y/o espiritual.
						.ratio.ratio-16x9
							picture
								img(src="https://via.placeholder.com/800x450" class="img-fluid" loading="lazy")
						h2 
							sup.text-orange 1.
							|¿Cómo funciona?
						p El terapeuta es un canal de la energía reiki para que tu la recibas por medio de la imposición de manos en diferentes partes del cuerpo; esta energía de amor universal trabajará abriendo la conciencia para poder encontrar las causas de los bloqueos, logrando así que la persona realice los cambios necesarios que le permitan abrirse a la salud, al equilibrio y a la felicidad.
						h2 
							sup.text-orange 2.
							|¿Qué pasa durante la terapia?
				.row
					.col-12.position-relative
						.swiper-container2
							.swiper-wrapper
								.swiper-slide 
									.ratio.ratio-4x3
										picture
											img(src="https://via.placeholder.com/600x450" class="img-fluid" loading="lazy")
								.swiper-slide 
									.ratio.ratio-4x3
										picture
											img(src="https://via.placeholder.com/600x450" class="img-fluid" loading="lazy")
								.swiper-slide 
									.ratio.ratio-4x3
										picture
											img(src="https://via.placeholder.com/600x450" class="img-fluid" loading="lazy")
								.swiper-slide 
									.ratio.ratio-4x3
										picture
											img(src="https://via.placeholder.com/600x450" class="img-fluid" loading="lazy")
							.swiper-pagination
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						p Cada persona puede experimentar algo diferente, en general se entra en un estado de relajación profunda, una gran sensación de paz. Muchas personas se quedan dormidas, cosa que no influye para nada en el resultado final, algunas sienten un cosquilleo, calor o frío en diferentes partes del cuerpo según fluye la energía, otras personas ven colores, o sienten emociones que salen a la superficie y otras no sienten nada sin que ello signifique que, la energía no esté fluyendo.


			include  ../template-parts/block-form.pug
			.container
				.row.justify-content-center
					.col-md-10.col-xl-8.border-bottom.pb-5
						.row.justify-content-between
							.col-6.col-md-3.position-relative
							.col-6.col-md-3.text-end.position-relative
								a(href="/pages/servicios/aromaterapia.html" class="nav-next stretched-link")
									|siguiente
									i(class="d-md-inline ms-1" data-feather="arrow-right")
								h3 Aromaterapia
			include  ../template-parts/block-productos.pug
			include  ../template-parts/block-whatsapp.pug


		



















	

















			






















	

			



	

			

	