//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends ../page-templates/tpl_page.pug

block title
	title Maga Granados - Terapia con cristales
block contenido
	.main.bg-white
		.entry-content.d-hidden.bg-gradient-orange
			.container
				.row.justify-content-center.py-5
					.col-md-10.col-xl-8
						h1.pb-3 Terapia con cristales
						.ratio.ratio-16x9
							picture
								img(src="https://via.placeholder.com/800x450" class="img-fluid" loading="lazy")
						h2 
							sup.text-orange 1.
							|¿Qué es?
						p La sanación con cristales es una herramienta terapéutica que integra en su trabajo de luz; el color, la belleza y la perfección de las formas geométricas que el reino mineral proporciona para equilibrar todos los aspectos del ser ya que tiene la posibilidad de conectarse e interactuar con los cuerpos físico, emocional, mental y espiritual.
						h2 
							sup.text-orange 2.
							|¿Cómo funciona?
						p Es así, que al colocar los cristales correspondientes, en cada uno de los centros de energía dispuestos a lo largo del cuerpo.  Las propiedades de cada cristal actúa en cada chakra, activando y equilibrando la energía; con lo cual, es posible acceder a niveles más sutiles de conciencia y llegar a los núcleos de los bloqueos.
						p Una sesión de sanación con cristales se basa en la exploración de la conexión en cada uno de los cuerpos sutiles (físico, emocional, mental y espiritual) entre la historia personal del paciente (consciente e inconsciente) y el motivo de consulta que ha planteado.  Esto implica un trabajo de apertura y  disposición por parte del paciente.



			include  ../template-parts/block-form.pug
			.container
				.row.justify-content-center
					.col-md-10.col-xl-8.border-bottom.pb-5
						.row.justify-content-between
							.col-6.col-md-6.position-relative
								a(href="/pages/servicios/terapia-con-filtros.html" class="nav-next stretched-link")
									i(class="d-md-inline" data-feather="arrow-left")
									|anterior
								h3 Terapia con Filtros
							.col-6.col-md-6.text-end.position-relative
								a(href="/pages/servicios/esencias-florales.html" class="nav-next stretched-link")
									|siguiente
									i(class="d-md-inline ms-1" data-feather="arrow-right")
								h3 Esencias florales y minerales
			include  ../template-parts/block-productos.pug


		



















	

















			






















	

			



	

			

	